<!DOCTYPE html>
<html>
  <head>
    <%%= stylesheet_link_tag    'application', media: 'all' %>
    <%%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%%= csrf_meta_tags %>

    <title><%= camelized %></title>
  </head>

  <body ng-app='<%= camelized %>' ng-controller='MainCtrl'>
    <div>
      {{test}}
    </div>
  </body>
</html>
