<!DOCTYPE html>
<html>
  <head>
    <%%= stylesheet_link_tag    'application', media: 'all' %>
    <%%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%%= csrf_meta_tags %>

    <title><%= camelized %></title>
  </head>

  <body ng-app='app'>
    <header>
      <h1>Angular and Rails</h1>
      <nav>
        <button ui-sref="main.login">Login View</button>
        <button ui-sref="main.draw">Profile View</button>
      </nav>
    </header>

    <ui-view></ui-view>

  </body>
</html>
